.ueberschrift {
    font-size: 2em;
    color:blue;
}
.btn {
    color:black;
    background:white;
    background-color: #F2F2F2;
    padding:2px;
    margin:2px;
    border-radius:2px;
}
.body {
    background-color:white;
}
.btnLists {
    padding:5px;
}
.tableEntries {
    text-align:center;
}
.imageCenter {
    display:block;
    margin:0 auto;
    height:70px;
}
nav{
	text-align:center;
}
nav ul{
	list-style-type:none;
	background-color:#F2F2F2;
    border:3px solid #DEDCD9;
    border-radius:15px;
}
nav li{
	display:inline;
	margin-right:50px;;
}
a{
	color:#777;
	text-decoration:none;
}
.bodyDiv {
    color:#777;
    text-decoration:none;
    order:3px solid #DEDCD9;
    border-radius:15px;
}
.text {
    text-align:center;
}
.section {
    float:left;
    width:750px;
    border: 1px solid #DEDCD9;
    padding: 5px;
    text-align: center;
}
.sidebar {
    float:right;
    border: 1px solid #DEDCD9;
    padding: 5px;
}
.table {
    margin-left: auto;
    margin-right: auto;
}
#leftTable {
    float: left;
}
#rightTable {
    float: right;
}
#btnSaveStudentChanges {
    visibility: hidden;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}