.ueberschrift {
    font-size: 2em;
    color:blue;
}
.btn {
    color:black;
    background:white;
}
.body {
    background-color:white;
}
.btnLists {
    padding:5px;
    center:
}
.studentTableEntries {
    text-align:center;
}