<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kursliste für Student</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: nav"></nav>
    <section class="section">
        <h1 id="h1" th:text="'Kursneuanmeldung für ' + ${student.vorname} + ' ' + ${student.nachname} + ', id=' + ${student.id}"></h1>
        <div th:id="courseselector">
            <select id="selectedCourse">
                <option value="" selected disabled hidden>Fach auswählen</option>
                <option th:each="course:${courses}" th:value="${course.name} + ', id=' + ${course.id}" th:text="${course.name}"></option>
            </select>
        </div>
        <button class="btn" id="btnNewCourseForStudent" th:text="Hinzufügen"></button>
    </section>
    <aside class="sidebar" th:replace="fragments/sidebar :: aside"></aside>
</body>
</html>