<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studentlist</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <h1 th:text="'Add a new Student'"></h1>
    <input type="text" id="vorname"/>
    <input type="text" id="nachname"/>
    <button id="newStudent" th:text="Add"></button>
</body>
</html>