<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>courselist</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <h1 th:text="Courselist"></h1>
    <div>Das ist die Liste aller Kurse!</div>
    <form method="get" action="/courses/addCourseForm">
        <button type="submit">Kurs hinzufügen</button>
    </form>
    <table>
        <thead>
            <tr>
                <th th:text="Id"></th>
                <th th:text="Kursnummer"></th>
                <th th:text="Kursname"</th>
                <th th:text="Fach"></th>
                <th th:text="Kursteilnehmer"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course:${courses}" class="tableEntries">
                <td th:text="${course.id}"></td>
                <td th:text="${course.courseNr}"></td>
                <td th:text="${course.name}"></td>
                <td th:text="${course.subject.subjectName}"></td>
                <td th:text="${#lists.size(course.attendees)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>