<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>courselist</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: nav"></nav>
    <section class="section">
        <h1 class="ueberschrift" th:text="Courselist"></h1>
        <div th:if="${header == 'showCoursesForStudent'}" th:text="'Das ist die Liste der Kurse von ' + ${student.vorname} + ' ' + ${student.nachname}"></div>
        <div th:if="${header == 'showAllCourses'}">Das ist die Liste aller Kurse!</div>
        <div th:if="${header == 'showCourse'}" th:text="'Das ist der Kurs ' + ${courses[0].name}"></div>
        <form th:if="${header == 'showAllCourses'}" method="get" action="/courses/addCourseForm">
            <button class="btn" type="submit">Kurs hinzufügen</button>
        </form>
        <form th:if="${header == 'showCoursesForStudent'}" th:type="get" th:action="'http://localhost:8080/students/' + ${student.id} + '/courses/addCourseForStudent'">
            <button class="btn" id="btnAddCourseForStudent" type="submit">für Kurs anmelden</button>
        </form>
        <form th:if="${header == 'showCoursesForStudent'}" th:type="get" th:action="'http://localhost:8080/students/' + ${student.id} + '/showStudentAttributes'">
            <button class="btn" id="btnShowStudentAttributes" type="submit" th:text="'Bearbeiten'"></button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th th:text="Id"></th>
                    <th th:text="Kursname"</th>
                    <th th:text="Fach"></th>
                    <th th:text="Kursteilnehmer"></th>
                </tr>
            </thead>
            <tbody th:id="courselistTBody">
                <tr th:each="course:${courses}" class="tableEntries" th:id="'row' + ${course.id}">
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.subject.subjectName}"></td>
                    <td th:text="${#lists.size(course.attendees)}"></td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside th:replace="fragments/sidebar :: aside"></aside>
</body>
</html>