<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete Student</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/deleteStudent.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: nav"></nav>
    <section class="section">
        <h1 th:text="'Student löschen'"></h1>
        <table id="leftTable" class="table">
            <thead>
                <tr>
                    <th th:text="Id"></th>
                    <th th:text="Nachname"></th>
                    <th th:text="Vorname"></th>
                </tr>
            </thead>
            <tbody th:id="leftDeleteStudentTBody">
                <tr th:each="student:${students}" th:id="'row' + ${student.id}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.nachname}"></td>
                    <td th:text="${student.vorname}"></td>
                </tr>
            </tbody>
        </table>
        <button th:text="'-->'" class="btn" id="btnMoveRight" disabled></button>
        <button th:text="'<--'" class="btn" id="btnMoveLeft" disabled></button>
        <table id="rightTable" class="table">
            <thead>
                <tr>
                    <th th:text="Id"></th>
                    <th th:text="Nachname"></th>
                    <th th:text="Vorname"></th>
                </tr>
            </thead>
            <tbody th:id="rightDeleteStudentTBody">

            </tbody>
        </table>
        <button th:text="Löschen" class="btn" id="btnDelete" disabled></button>
    </section>
    <aside class="sidebar" th:replace="fragments/sidebar :: aside"></aside>
</body>
</html>