<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete Student</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: nav"></nav>
    <section class="section">
        <h1 th:text="'Student löschen'"></h1>
        <select id="deleteStudentDropdown">
            <option value="" selected disabled hidden>Student auswählen</option>
            <option th:each="student:${students}" th:value="${student.vorname + ' ' + student.nachname}" th:text="${student.vorname + ' ' + student.nachname}"></option>
        </select>
    </section>
</body>
</html>