<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <meta charset="UTF-8">
    <title>Modulplanung</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <h1 class="ueberschrift">Modulplanung</h1>
    <div class="homescreen">
        Welcome Home!
    </div>
    <div>
        <button id="btnGetStudentList" class="btn">click me</button>
    </div>
<div class="studentlist">

</div>
</body>
</html>