<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <meta charset="UTF-8">
    <title>Modulplanung</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="body">
    <div id="wrapper">
        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/header :: nav"></nav>
        <section>
            <div class="bodyDiv">
                <p class="text" th:text="'Wilkommen auf der Homepage!'"</p>
                <p class="text" th:text="'Hier können Studenten, Kurse und Fächer verwaltet werden.'"></p>
            </div>
        </section>
        <footer></footer>
    </div>
</body>
</html>