<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studentlist</title>
    <link rel="stylesheet"
          th:href="@{/css/index.css}"
          type="text/css"
          media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: nav"></nav>
    <h1 class="ueberschrift" th:text="Studentlist"}></h1>
    <div th:if="${header == 'showAllStudents'}" th:text="'Das ist die Liste aller Studenten!'"></div>
    <div th:if="${header == 'showCourseMembers'}" th:text="'Das ist die Liste der Studenten des Kurses ' + ${course.name}"></div>
    <form th:if="${header == 'showAllStudents'}" method="get" action="/students/addStudentForm">
        <button class="btn" type="submit">Student hinzufügen</button>
    </form>
    <table>
        <thead>
            <tr>
                <th th:text="Id"></th>
                <th th:text="Nachname"></th>
                <th th:text="Vorname"></th>
                <th th:if="${header == 'showAllStudents'}" th:text="Kurse"></th>
            </tr>
        </thead>
        <tbody th:id="studentlistTBody">
            <tr th:each="student:${students}" class="tableEntries" th:id="'row' + ${student.id}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.nachname}"></td>
                <td th:text="${student.vorname}"></td>
                <td th:if="${header == 'showAllStudents'}" th:text="${#lists.size(student.attendedCourses)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>