<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjectlist</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<h1 class="ueberschrift"></h1>
<div>Das ist die Liste aller Fächer!</div>
<table>
    <thead>
    <tr>
        <th th:text="Id"></th>
        <th th:text="Fachbezeichnung"></th>
        <th th:text="Kursanzahl"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject:${subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.name}"></td>
        <td th:text="${#lists.size(subject.courses)}">
        </td>
    </tr>
    </tbody>
    <form method="get" action="/subjects/addSubjectForm">
        <button type="submit">Fach hinzufügen</button>
    </form>
</table>
</body>
</html>